main {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.box {
    color: white;
    background-color: rgb(134, 159, 239);
    padding: 10px 30px;
    margin-top: 10px;
    display:inline-block 
}
h1 {
    font-size: 28px;
    font-weight: normal;
    margin: 15px;
    color: rgb(93, 92, 92);
}
.color-header {
    font-weight: bold;
    color: rgb(47, 138, 229); 
}
.color-paragraph {
    color: rgb(93, 92, 92);
}
.button {
    color: white;
    background-color: rgb(77, 75, 75);
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    margin: 10px;
    border-radius: 3px;
}
